/* ===============================
    Contact Section
=============================== */
.contact-section {
    background: linear-gradient(
        rgba(0,0,0,0.6), 
        rgba(0,0,0,0.6)
    ),
    url('../assets/images/hero.jpeg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 2rem;
    flex: 1;
}

.contact-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}

/* ===============================
    Contact Info
=============================== */
.contact-info h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #fff;
    position: relative;
}

.contact-info h2::after {
    content: "";
    width: 60px;
    height: 4px;
    background: #facc15;
    display: block;
    margin-top: 0.6rem;
    border-radius: 2px;
}

.contact-info p {
    color: #fff;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.contact-details p {
    font-size: 0.95rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

.contact-details strong {
    color: #ca8a04;
}

/* ===============================
    Contact Form
=============================== */
.contact-form {
    background: #ffffff;
    padding: 3rem;
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}

.contact-form h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #111;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #374151;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.9rem;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    font-size: 0.95rem;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #ca8a04;
}

/* ===============================
    Button
=============================== */
.btn-primary {
    width: 100%;
    padding: 0.9rem;
    border-radius: 10px;
    background-color: #ca8a04;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background-color: #a16207;
}



/* ===============================
    Responsive
=============================== */
@media(max-width: 768px) {
    .contact-wrapper {
        grid-template-columns: 1fr;
    }
}